LOCAL=True          # Boolean flag indicating if the application is running in a local development environment.
LOG_LEVEL=info      # The logging level for the application (e.g., debug, info, warning, error, critical).
SERVER_HOST=0.0.0.0 # The IP address the server will bind to. 0.0.0.0 makes it accessible from any interface.
SERVER_PORT=8000    # The port number on which the server will listen for incoming connections.
WORKERS=5           # The number of worker processes to spawn for handling requests.

DATABASE_HOST=            # Database host (e.g., localhost or IP address)
DATABASE_PORT=            # Database port (e.g., 5432)
DATABASE_USER=            # Database username
DATABASE_PASSWORD=        # Database password
DATABASE_NAME=            # Database name
DATABASE_POOL_SIZE=      # Database connection pool size (e.g., 3)
